.topheader{
    background-image: url("../images/shanghai.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.TopContainer{
    margin-top: 200px;
}

.TopTitle{
    color: aliceblue;
    font-size: 80px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.TopSubtitle{
    font-size: 40px;
    color: aliceblue;
}

.TopOverlay{
    min-height: 600px;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.servicetitle{
    padding: 20px;
}
.servicecard{
    margin: 6px 6px 6px 6px;
    height:300px;
    border: 0.5px solid rgba(173, 169, 169, 0.625);

}

.one{
    justify-content: end;
}

.oness{
    padding: 20px;
}







.TotalWork{
    background-image: url("../images/shanghai.jpg");
    min-height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TotalWorkOverlay{
    min-height:500px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.countnumber{
    color: aliceblue;
}

.countTitle{
    color: aliceblue;

}

.countsection{
    margin-top: 15%;
}

.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgb(0, 115,230,0.2);

}

.projectCard:hover{
    box-shadow: 0 0 4px 0 rgb(0, 115,230,0.2);

}

.projectCardTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
}
.projectCardDesc{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 300;
    
}